.tab-pane {
    -fx-background-color: #f0f8ff;
}

.tab {
    -fx-background-color: #e0f2f1;
    -fx-text-fill: #004d40;
    -fx-border-color: #004d40;
    -fx-border-width: 0 0 1 0;
}

.tab:selected {
    -fx-background-color: #ffffff;
    -fx-text-fill: #00796b;
    -fx-border-color: #00796b;
}

.tab-header-area {
    -fx-background-color: #e8f5e9;
    -fx-border-color: #004d40;
    -fx-border-width: 0 0 2 0;
}

.tab-content-area {
    -fx-background-color: #ffffff;
    -fx-border-color: #004d40;
    -fx-border-width: 2;
}
